{% extends "authorization/base.html" %}
{% block content %}
<h1 class="text-center">login In  </h1>

<div class="col-md-6 offset-md-3">

    <form method=POST>
        {% csrf_token %}


        <div class="form-group">

            <input type="text" class="form-control" placeholder="Enter User Name" name="username">

        </div>
        <div class="form-group">

            <input type="password" class="form-control" placeholder=" Enter Password" name="password">

        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <div>

            <button type="submit" class="btn btn-secondary">Log in </button>
    </form>
</div>


</div>


{% endblock  %}